@font-face {
    font-family: "Valorant";
    font-weight: 400;
    src: url("../fonts/Valorant.ttf");
}

body {
    min-height: 100vh !important;
}

h2 {
    font-family: 'Valorant';
    color: #00e2e6;
}

form legend {
    color: #e75e8d;
}

form div {
    margin-bottom: 1em;
}

.btn-custom {
    background-color: #e75e8d;
}

.btn-custom:hover {
    background-color: #00e2e6;
}

.fa-eur {
    color: lime !important;
}

.userAvatar {
    width: 30px;
    height: 30px;
}

tr {
    color: white !important;
}

tr p {
    color: white !important;
}

.modal-content {
    background-color: #27292a;
}

.modal-title {
    color: #e75e8d;
}

.modal-header button {
    background-color: #27292a;
    border: none;
}

.modal-body {
    margin: 0;
}

.modal-body .form-group {
    margin: 0;
}

.item ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right-info p {
    font-size: larger;
    color: #ffffff;
}

.right-info p i {
    font-size: medium;
    color: #aaaaaa;
}

.form-group label {
    color: #e75e8d;
}

@media (max-width: 1399.98px) {
    .nav li {
        padding: 0px !important;
    }
}